:root {

    /* greys */

    --clr1: #ffffff; /* bg color */
    --clr2: #f8f8f8; /* editor bg color */
    --clr3: #e8e8e8; /* editor icons color */
    --clr4: #c5c5c5; /* editor text color */
    --clr5: #b1b2b2; /* nav bar text color */

    /* oranges */

    --clr6: #fe9a20; /* buttons color and hover nav bar color */
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/* BASICS */

html {
    font-family: roboto;
}

body {
    margin: 0;
    font-size: 1em;
    background-color: var(--clr2);
    max-width: 1400px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--clr5);
}

a:hover {
    color: var(--clr6);
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-around;
}


.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.direction-col {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* LAYOUT */

.main-layout {
    margin-left: 100px;
    margin-right: 100px;
}

/* COMPONENTS */

/* main header */

header {
    background-color: var(--clr1);
    height: 55px;
    font-size: 1em;
    border: 1px solid var(--clr3);
    margin-block-end: 20px;
}

.header-content {
    padding: 10px 10px;
}

.main-header .logo img {
    height: 45px;
    width: 200px;
    left: 20px;
    top: 9px;
    border-radius: 0px;

}

.header-content {
    height: 50px;
    font-size: 1em;
}

.main-nav ul {
    display: flex;
    gap: 100px
}

/* MAIN CONTENT */

.main-content {
    padding-block-start: 30px;
    padding-block-end: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border: 1px solid var(--clr3);
}

/* search */

.search {
    width: 100%;
    height: 40px;
    border-radius: 2rem;
    border: 1px solid var(--clr5);
    color: var(--clr5);
    padding-inline-start: 20px;
    font-size: 1rem ;
    font-style: italic;
}

/* images */

.images {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-block-start: 30px;
}

.images img {
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

/* canvas */

.canvas-container {
    width: 75%;
    height: auto;
    background-color: transparent;
    gap: 40px;
    border-inline-end: 1px solid var(--clr3)
}

canvas {
    align-self: center;
    justify-self: center;
    background-color: var(--clr1);
    border: 1px solid var(--clr5);
    border-radius: 10px;
}

/* editor */

.editor {
    gap: 20px;
    border: 1px solid var(--clr3);
}

.editor .text-editor {
    width: 20%;
}

.editor a{
    justify-self :start;
}

.editor-btn {
    width: 50px;
    height: 50px;
    border:none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

.editor-btn:hover {
    color: var(--clr6);
}