:root {

    /* greys */

    --clr1: #ffffff; /* bg color */
    --clr2: #f8f8f8; /* editor bg color */
    --clr3: #e8e8e8; /* editor icons color */
    --clr4: #c5c5c5; /* editor text color */
    --clr5: #b1b2b2; /* nav bar text color */
    --clr7: #727272; /* h3 color */

    /* oranges */

    --clr6: #fe9a20; /* buttons color and hover nav bar color */
}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/* BASICS */

html {
    font-family: roboto;
}

body {
    margin: 0;
    font-size: 1em;
    background-color: var(--clr2);

}

img {
    max-width: 100%;
}

img:hover {
    opacity: 0.6;
}

a {
    text-decoration: none;
    text-align: center;
    color: var(--clr5);
}

a:hover {
    color: var(--clr6);
}

h3 {
    color: var(--clr7)
}

.btn {
    width: 10%;
    margin-inline-start:10px;
    background-color: var(--clr6);
    border:none;
    border-radius: 2rem;
    color: var(--clr1);
    text-transform: uppercase;
    font-family: roboto;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #fdbe70;
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-evenly {
    justify-content: space-around;
}


.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.direction-col {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* LAYOUT */

.main-layout {
    margin:0
}

/* COMPONENTS */

/* main header */

header {
    background-color: var(--clr1);
    height: 55px;
    font-size: 1em;
    border: 1px solid var(--clr3);
}

.header-content {
    padding: 10px 10px;
}

.main-header .logo img {
    height: 45px;
    width: 200px;
    left: 20px;
    top: 9px;
    border-radius: 0px;

}

.header-content {
    height: 50px;
    font-size: 1em;
}

.main-nav ul {
    display: flex;
    gap: 70px
}

.btn-menu {
    color: var(--clr5);
    background-color: transparent;
    border: none;
    font-size: 1.7em;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 1px 7px;
    padding-bottom: 5px;
}

.btn-menu:hover {
    color: var(--clr6);
}

.mobile-menu-underscore {
    display: none;
}

/* MAIN CONTENT */

.main-content {
    display: block;
    padding-block-start: 30px;
    padding-block-end: 30px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    border: 1px solid var(--clr3);
}

/* search */

.search {
    width: 90%;
    height: 40px;
    border-radius: 2rem;
    border: 1px solid var(--clr5);
    color: var(--clr5);
    padding-inline-start: 20px;
    font-size: 1rem ;
    font-style: italic;
}

/* images */

.images {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    padding-block-start: 30px;
    justify-items: center;
    align-items: center;
    gap: 40px;
}

.images img {
    border-radius: 10px;
    cursor: pointer;
    width: 170px;
    height: 170px;
}

/* memes */

.memes {
    display: none;
}

/* canvas */

.canvas-container {
    height: auto;
    background-color: transparent;
    gap: 40px;
    border-inline-end: 1px solid var(--clr3)
}

canvas {
    align-self: center;
    justify-self: center;
    background-color: var(--clr1);
    border: 1px solid var(--clr5);
    border-radius: 10px;
}

/* editor */

.editor {
    display: none;
    height: 90vh;
    gap: 20px;
    border: 1px solid var(--clr3);
    overflow: hidden;
}

.editor .text-editor {
    width: 500px;
}

.editor .editor-header {
    width: 100%;
    flex-direction: column;
    align-items: center; 
}

.editor .editor-header ul {
    padding-block-start: 8px;
}

.editor input {
    cursor: pointer;
    width: 30px;
    border: none;
    background-color: transparent;
}

.editor textarea {
    border: 1px solid var(--clr3);
}

.editor select {
    color: var(--clr4);
    border: 1px solid var(--clr4);
}

.editor .tools {
    color: var(--clr4);
    padding: 10px;
    border: 1px solid var(--clr3);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: var(--clr1);
}

.editor a{
    align-self: flex-start;
    justify-self:start;
    padding: 10px;
    padding-block-start: 40px;
}

.editor-btn {
    width: 30px;
    border:none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: var(--clr4);
}

.editor-btn:hover {
    color: var(--clr6);
}

.editor .stickers {
    width: 350px;
    font-size: 2.4rem;
    border: 1px solid var(--clr3);
    margin-block-start: 10px;
    background-color: var(--clr1);
}

.editor .btn {
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

.editor .btn:hover {
    color: var(--clr1);
}

.share-container {
    text-align: center;
}

/* FOR MOBILE */

@media (max-width: 820px) {
    .editor {
        flex-direction: column;
    }
    .editor .text-editor {
        align-self: center;
    }

    .main-header {
        position: relative;
    }

    .main-nav {
        background-color: var(--clr6);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        transform: translateY(100%);
        transform-origin: top;
        max-height: 0;
        box-shadow: none;
        transition: max-height 0.6s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    body.menu-open .main-nav {
        width: 100%;
        color: var(--clr1);
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 800px;
    }
    
    .main-nav ul {
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:0;
    }

    .main-nav li {
        width: 100%;
        padding-block-start: 70px;
        padding-block-end: 70px;
    }
    
    .main-nav a {
        width: 100%;
        color: var(--clr1);
    }

    .main-nav a:hover {
        font-weight: 700;
        font-size: 1.1rem;
    }

    .mobile-menu-underscore {
        display: block;
    }
}

/* RESPONSIVNESS */

@media (min-width: 820px) {
    .main-layout {
        margin-inline-start: 10px;
        margin-inline-end: 10px;
     }
     .canvas-container {
        width: 900px;
        gap: 40px;
    }
    .editor a{
        padding-block-end: 50px;
    }

    .editor .editor-header {
        width: 100%;
        flex-direction: row;
        align-items: center; 
    }
    
    .editor .editor-header h3 {
        align-self: flex-start;
    }

    .editor .editon-mav {
        align-self: flex-end;
        color: var(--clr4);
        padding: 10px;
        border: 1px solid var(--clr3);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background-color: var(--clr1);
    }

    .btn-menu {
        display: none;
    }

}

@media (min-width: 1200px) {
    .main-layout {
       margin-inline-start: 50px;
       margin-inline-end: 50px;
    }

}